<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/signin.css">

</head>
<body>
    <section id="signin-section-container">
        <div class="form-container">
            <div class="sec1">
                <img src="signin-image.webp" alt="">
            </div>
            <div class="signup-form-container sec2">
                <h1>Sign up</h1>
                <form action="/signin" method="POST"> 
                    <div class="name input-area">
                        <label for=""><i class="fas fa-user"></i></label>
                        <input type="text" name="name" placeholder="Your Name" required>
                    </div>
                    <div class="password input-area">
                        <label for=""><i class="fas fa-lock"></i></label>
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
    
                    <div class="remember">
                        <input type="checkbox">
                        <label for="">Remember me</label>
                    </div>
                    <button>Log in</button>
                </form>
            </div>
        </div>

        <div class="other-links">
            <div class="create-account">
                <a href="/signup">Create new account</a>
            </div>
            <div class="social-links">
                Or login with
                <ul class="links">
                    <li class="faceboos"><i class="fab fa-facebook-square"></i></li>
                    <li class="twitter"><i class="fab fa-twitter-square"></i></li>
                    <li class="google"><i class="fab fa-twitter-square"></i></li>
                </ul>
            </div>
        </div>
    </section>
    <script src="https://kit.fontawesome.com/86ef774720.js" crossorigin="anonymous"></script>
</body>
</html>